
.nav-bar {
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 0;
  padding: 0;
}

.nav-bar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.nav-bar-list li {
  display: inline;
  margin: 0 20px;
}

.nav-bar-list li a {
  color: white;
  text-decoration: none;
}